 /*
    // # selector de id
    // . selector de clase
    // nombre de la etiqueta a modificar 
    */

    * {
        /* reseteo de modlo de caja*/
        padding: 0;
        margin: 0;
        border: 0;
    }

    body {
        margin: 4px;
    }

    #conwidth {
        width: 20px;
        display: inline-block;
        }

    .algunos {
        background-color: beige;
        width: 40px;
    }
        
 
    span {
        color: red;
    }